<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>The Swampscott Reporter</title>
  </head>
  <body>

    <div class="container mt-5">
    <div class="col text-center">
      <h1>The Swampscott Correspondent</h1>
      <p>Big Blue or Go Home!</p>
    </div>
    </div>

    <hr class="my-4">

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3>Swampscott Current Weather</h3>
          It is currently <%= @forecast["current"]["temp"] %> degrees and feels like <%= @forecast["current"]["feels_like"] %> degrees.
        </div>
      </div>

      <div class="row mt-4">
      <div class="row align-items-center">
        <div class="col text-center">
          <h4>Things to Do</h4>
          <p>Swampscott is a super fun place, rain or shine! Come check out this 2 square mile beach town north of Boston!</p>
        </div>        
        <div class="picture col">
          <img src="/images/<%= @forecast["current"]["weather"][0]["main"] %>.jpg" class="img-fluid rounded-circle" alt="picture">
          </div>
        <div class="col text-center">
          <h4>The Best of Swampscott</h4>
          <p>
            <ul>
              <li>Sunny Day Activity: Relax at Phillips Beach</li>
              <li>Rainy Day Activity: Shop at TJ Maxx</li>
              <li>Any Day Activity: Eat Calzone from Captains Pizza</li>
              <li>Any Day Activity: Sip a Cocktail at Mission on the Bay</li>
              <li>Any Day Activity: Head to Bagel World</li>
            </ul>
          </p>
        </div>  
        </div>
      </div>


    <hr class="my-4">

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3> Swampscott 8 Day Forecast</h3>
          <p>Today's Weather and the next 7 day forecast. Plan appropriately!</p>
          <div class="row mt-4">
          <div class="picture col-md-12">
            <% for day in @forecast["daily"] %>
            <div class="col-sm-3"><img class="img-fluid" src="/images/<%= day["weather"][0]["main"]%>.jpg"></div>
            <div class="media-body">
            <h5>It will be <%= day["temp"]["max"]%> degrees and <%= day["weather"][0]["description"]%>.</h5>
            <% end%>
            </div>
        </div>
      </div>

    <hr class="my-4">
        
    <div class="container">
    <div class="row">
    <div class="col text-center">
    <h3> National News Highlight </h3>
    <p>The world is crazy. This could be anything. Brace yourself!</p>
    </div>
    </div>
    </div>

    <div class="row mt-4">
    <% for article in @news["articles"] %>
    <h5>Headline: <%= article["title"]%> <a href="<%= article["url"]%>" class="btn btn-info">Full Article</a></h5>
    <% end%>
    </div>

    <hr class="my-4">
    <div class="footerdesign">
    <div class="container footer">
      <div class="row my-0">
        <div class="col-sm-3">
          <img src="K_RGB.png">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <p class="mt-3"><em>This is for my software development class, pretty neat, right? For educational purposes only.</em></p>
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>